<div>
  <div class="bg-cover bg-center h-52 rounded-lg relative animate-pulse bg-gray-400" >
    <p class="text-xl text-white font-bold absolute bottom-0 rounded-b-lg w-full p-2 h-10 bg-gray-800/60 "></p>
    <div class="w-2/4 bg-gray-400 animate-pulse block h-6 rounded absolute bottom-2 left-2 mx-auto"></div>
  </div>
</div>
